<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <title>Cervecero - predicción de consumo</title>
</head>
<body>
  <div class="container m-5">
    <div class="row">
      <div class="col-md-4">
        <a href="/"><img src="/static/img/cervecero.png" class="rounded mx-auto d-block" alt="Cervecero"></a>
      </div>
      <div class="col-md-8">
        <table class="table">
          <thead class="thead-light">
            <tr>
            <th scope="col">Predicción</th>
            <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <td>Consumo de cerveza (litros)</td>
            <td id="y_hat">{{ y_hat }}</td>
            </tr>
          </tbody>
        </table>
        <a href="/" class="btn btn-primary" role="button">Regresar</a>
      </div>
    </div>
  </div>
  <script src="/static/js/jquery-3.4.1.min.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
